In [11]:
# Importing required packages:
import pandas as pd
import numpy as np
import csv
import xlrd
import json
import os

import scipy.stats
from scipy import stats
from scipy.stats import ttest_ind

#import ttest_ind
import math
import matplotlib.pyplot as plt

In [2]:
# Importing data into python saved as CSV file 
Titan_1 = pd.read_csv("C:/Greatleaning/Oct'18/Statistical_Assignment/Titan.csv")

In [4]:
# To check the output
Titan_1.head()

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84

In [5]:
Titan_1.columns

Index(['SALESPERSON', 'Old Scheme (in thousands)',
       'New Scheme (in thousands)'],
      dtype='object')

In [6]:
# updating column names  
Titan_1.columns = ['SALESPERSON','Old_Scheme','New_Scheme']

# Calculating mean

In [7]:
# Calculating mean of old scheme column
Titan_1.Old_Scheme.mean()

68.03333333333333

In [8]:
# Calculating mean of new scheme column
Titan_1.New_Scheme.mean()

72.03333333333333

# Performing hypothesis Test - to determine the p value to check new scheme has significantly raised outputs

In [18]:
# Here the question statement is whether new scheme is better than old scheme

# In this case average output using old method should be less than 
#the avarage output achieved from the new scheme

# Here null hypothesis is:

#average output from the old method is equal to average output from new schemes
# H0: mu1= mu2

# Here alternative hypothesis is:

#average output from the old method is less than average output from new schemes
# H0: mu1< mu2

# as sample size is 30 & variance is not given so t-test will be used for testing of mean (average)

# Before applying t-test, need to check if variance is same for both the samples- using Bartlett-test

In [9]:
# Performing the hypothesis test if variance for new scheme is equal to variance for old scheme
Vartest = scipy.stats.bartlett(Titan_1['Old_Scheme'], Titan_1['New_Scheme'])
Vartest

# by seeing the pvalue=0.386994667818241, the conclusion is null hypotheis is accepted. 
# It means Variance is equal for both

BartlettResult(statistic=0.7483640789346552, pvalue=0.386994667818241)

In [12]:
#Performing two sample t-test to test whether new scheme is better than old scheme  
alpha = 0.05
## At 0.05 alpha threshold
ttest = ttest_ind(Titan_1['Old_Scheme'], Titan_1['New_Scheme'], equal_var=True)
ttest

Ttest_indResult(statistic=-0.6937067608923764, pvalue=0.49063515686248105)

# What conclusion does the test (p-value) lead to?

In [ ]:
# Conclusion 

# by seeing the pvalue=0.49063515686248105, the conclusion is null hypotheis is accepted. 
# It means there is no diffrence in the avargae output using old scheame & new scheme

# Probability of a type 1 error

In [ ]:
# We take standard value for Type-1 error as  5% or 0.05. So here the type1 error will  be 0.05

# p- value of the hypothesis test if we test for a difference of 5000

In [134]:
# What is the p- value of the hypothesis test if we test for a average difference of $5000

# creating the copy of Titan_1 data set
df = Titan_1.copy()

# Creating a new column - sgl with the difference of output of old & new scheme
df1=df.diff(periods=1, axis=1)
sgl = df1.iloc[:,2]
print(sgl.mean())

# performing the ttest for calculate the p value if we test for a difference of L5000 

#from scipy.stats import ttest_1samp
diff_sample = ttest_1samp(sgl, 5)
diff_sample
# P -value is 0.7001334912613286

4.0

Ttest_1sampResult(statistic=-0.3889785955886094, pvalue=0.7001334912613286)

# Power of the test

In [44]:
# Estimate power of the test via power analysis
from statsmodels.stats.power import TTestIndPower

# parameters for power analysis
alpha = 0.05
# effect will be calculated as : (X-mu / sigma/ root (n)) which is calculated above as t- statistics
# t- statistic value above =-0.3889

# perform power analysis 
#result = analysis.solve_power(effect, power=power, nobs1=None, ratio=1.0, alpha=alpha)
analysis = TTestIndPower()
result = analysis.solve_power(-0.389, power=None, nobs1=30, alpha=0.05)
result

# Power of the test is around 0.32

0.3165111350571818